# Archivos del Sistema Operativo (Basura)
.DS_Store
Thumbs.db

# Archivos de configuración del editor de código (VS Code, JetBrains, etc.)
.vscode/
.idea/
*.sublime-workspace

# Archivos con contraseñas o configuración sensible (Seguridad ante todo)
config.php
db_connect.php
.env

# Carpeta de librerías de terceros (si usáramos Composer en el futuro)
vendor/